
/* Solarized */
$base03  : #002b36;
$base02  : #073642;
$base01  : #586e75;
$base00  : #657b83;
$base0   : #839496;
$base1   : #93a1a1;
$base2   : #eee8d5;
$base3   : #fdf6e3;
$yellow  : #b58900;
$orange  : #cb4b16;
$red     : #dc322f;
$magenta : #d33682;
$violet  : #6c71c4;
$blue    : #268bd2;
$cyan    : #2aa198;
$green   : #859900;

a {
  color : $blue;
}
a:hover {
  color : $base01;
}
a:visited {
  color : $base0;
}
a:visited:hover {
  color : $base01;
}

body {
  font-weight: 300;
  font-size  : 1.3em;
  line-height: 1.4;
  background : $base3;
  font-family: 'Neuton', serif;
}

h1, h2, h3 {
  font-weight: 700;
}

.container {
  margin : 2%;
  color  : $base00;
}

.header {
  margin     : auto;
  display    : block;
  font-size  : 1.1em;
  text-align : center;
}

.pure-menu.pure-menu-open {
  background : $base2;
}

.pure-menu li a:hover {
  background : $base1;
}

.content {
  margin  : auto;
  display : block;
}
