body {
    background: #FDF6E3;
    margin-bottom: 5rem;
}

.header {
    width: 55%;
    margin-top: 3rem;
    padding-bottom: 2rem;
}

.header span {
    padding-right: 0.5rem;
    font-size: 1.8rem;
    line-height: 1;
}

.links {
    float: right;
    vertical-align: middle;
}

.links a {
    padding: 0.5rem;
    border-bottom: none;
}
