---
layout: default
title: About Me
buttontitle: About
order: 2
icon: information-circle
---

<div class="org-prelude">
    <p>
        I'm been involved in various software organizations over the years, both professionally
        and as a member of open source communities. Here you'll find short summaries of what
        I worked on. Click through each organization to learn more and see related blog posts
        and talks by me.
    </p>
    <ul>
        {% for org in site.orgs reversed %}
        <li>
            <img src="/images/projects/{{ org.key }}.webp" />
            <a href="#{{ org.key }}">{{ org.name }}</a>: {{ org.short }}
        </li>
        {% endfor %}
    </ul>
</div>
{% for org in site.orgs reversed %}
<div class="org">
    {{ org.output }}
</div>
{% endfor %}