---
layout: default
title: Blog
order: 3
icon: document-text
---

<p>
    All my blog posts, in reverse chronological order.
</p>
<div class="timeline">
    <ul>
    {% assign last_year = "" %}
    {% for post in site.posts %}
        {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
        {% if year != last_year %}
            {% assign last_year = year %}
            <span class="year">{{year}}</span>
        {% endif %}
        <li>
            <div>
                <span class="day">{{ post.date | date: "%d" }}</span>
                <span class="month">{{ post.date | date: "%b" }}</span>
                <a href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
</div>
