---
layout: default
title: Talks by Anant Narayanan
buttontitle: Talks
order: 3
icon: mic
---
<p>
    Here's a list of talks I've given, in reverse chronological order. Links to
    slide decks and videos are linked where possible. Slides for most of these
    presentations are also available on
    <a href="https://www.slideshare.net/anantn/">SlideShare</a>
    and
    <a href="https://speakerdeck.com/anantn">SpeakerDeck</a>.
</p>
<div id="filter" class="talks">
    {% include filter.html data=site.data.talks %}
    <ul class="talks list">
        {% assign last_year = "" %}
        {% for talk in site.data.talks %}
        {% capture year %}{{talk.year}}{% endcapture %}
        {% if year != last_year %}
        {% assign last_year = year %}
        <span class="year">{{year}}</span>
        {% endif %}
        <li class="talk" data-categories="{{ talk.categories |  join: " " }}">
            <span class="month">{{ talk.month | slice: 0, 3 }}</span>
            <div class="talk">
                <a class="anchor" name="{{ talk.id }}"></a>
                {% if talk.url %}
                <span>
                    <a href="{{ talk.url }}" class="list-item">{{ talk.name }}</a>
                    <span class="date">({{ talk.month }}, {{ year }})</span>
                </span>
                {% else if talk.urls %}
                <span>
                    <span>{{ talk.name }}</span>
                    <span class="date">({{ talk.month }}, {{ year }})</span><br />
                </span>
                <ul class="oneline">
                    {% for u in talk.urls %}
                    <li>
                        <a href="{{ u.url }}" class="list-item">[{{ u.name }}]</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <br />
                <em>{{ talk.location }}</em>
                {% if talk.video %}
                <br />
                {% if talk.video contains "youtube" %}
                <iframe class="video" src="{{ talk.video }}" frameborder="0" allowfullscreen></iframe>
                {% else if talk.video contains "vimeo" %}
                <iframe src="{{ talk.video }}" class="video vimeo" frameborder="0" webkitallowfullscreen
                    mozallowfullscreen allowfullscreen></iframe>
                {% else %}
                <iframe src="{{ talk.video }}" class="video"></iframe>
                {% endif %}
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>