---
layout: default
title: Talks and Ramblings by Anant Narayanan
buttontitle: Home
order: 1
icon: home
---
<p>
    Hello and welcome to my small slice of the web!
</p>
<p>
    If you’re here to download the slides for (or view) a talk I’ve given head over to the
    <a href="/talks">talks page</a>. You'll find me occasionally rambling on
    <a href="/blog">my blog</a>
    &mdash; here are a few of my recent posts, though the full archive is likely to be more interesting.
</p>
<ul class="posts">
    {% for post in site.posts limit:5 %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <span class="date">
                <em>({{ post.date | date_to_string }})</em>
            </span>
        </li>
    {% endfor %}
</ul>
<div class="org-prelude">
    <span>
        I'm an engineering leader by day and have been involved in various software organizations over the years.
        Here you'll find short summaries of what I’ve worked on &mdash;
    </span>
    <ul class="oneline">
        {% for org in site.orgs reversed %}
            <li>
                <a href="#{{ org.key }}">{{ org.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% for org in site.orgs reversed %}
    <div class="org">
        {{ org.output }}
    </div>
{% endfor %}
