{% if page.layout == "post" %}
<script defer data-isso-css="false" data-isso-avatar="false" data-isso="https://comments.kix.in/" src="https://comments.kix.in/js/embed.min.js"></script>
<script defer src="/js/lightbox.js?v={{ site.time | date: '%s' }}"></script>
{% endif %}
{% if page.buttontitle == "Blog" or page.buttontitle == "Talks" %}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
{% endif %}
<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/8.0.13/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/8.0.13/ionicons/ionicons.js"></script>
<script defer src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "1f593427a54a4c14b05f4012a5dc0734"}'></script>
