<link href="https://cdnjs.cloudflare.com/ajax/libs/pure/2.0.6/pure-min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/pure/2.0.6/grids-responsive.min.css" rel="stylesheet"/>
<link href="/css/style.css" rel="stylesheet"/>
<link href="/css/isso.css" rel="stylesheet"/>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,400;0,900;1,400;1,900&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
</style>