<link rel="preload" href="/fonts/inter.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/roboto-slab.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/fira-code.woff2" as="font" type="font/woff2" crossorigin />
<style>{% capture criticalcss %}{% include critical.scss %}{% endcapture %}{{ criticalcss | scssify }}</style>
{% if page.layout == "post" %}
<link href="/css/isso.css?v={{ site.time | date: '%s' }}" rel="stylesheet" />
<link href="/css/lightbox.css?v={{ site.time | date: '%s' }}" rel="stylesheet" />
{% endif %}
