<link href="https://cdnjs.cloudflare.com/ajax/libs/pure/3.0.0/pure-min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/pure/3.0.0/grids-responsive.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<link href="/css/isso.css" rel="stylesheet" />
<link href="/css/lightbox.css" rel="stylesheet" />
<style>
    @import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter&family=Lora:ital@1&family=Roboto+Slab&display=swap');
</style>