$wide: 1280px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 568px;

@mixin heading {
  font-family: "Playfair Display", "Palatino", "Garamond", serif;
}

@mixin content {
  font-family: "Lato", "Roboto", "Helvetica", sans-serif;
}

@mixin mono {
  font-family: "Fira Code", "Courier New", "Courier", monospace;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  @include content();
}

body {
  font-size: 1.1rem;
  line-height: 1.7rem;
  min-height: 100vh;
  word-wrap: break-word;
}

pre,
pre code {
  @include mono();
  font-size: 0.9rem;
  line-height: 1rem;
  white-space: pre;
  word-wrap: normal;
}

abbr {
  @include mono();
  -webkit-font-variant: small-caps;
  -moz-font-variant: small-caps;
  -ms-font-variant: small-caps;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: var(---contrast);
}

abbr[title]:hover {
  cursor: help;
}

h1,
h2,
.title {
  @include heading();
  font-weight: bold;
}

h3,
h4 {
  @include heading();
  font-weight: medium;
}

h5,
h6 {
  @include heading();
  font-weight: normal;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
  border-style: none;
  @media screen and (max-width: $tablet) {
    margin: 0 auto;
  }
}

li::marker {
  @include mono();
  font-size: 0.8rem;
  font-style: bold;
}

div.inline {
  @media screen and (max-width: $tablet) {
    text-align: center;
  }
  img {
    display: inline-block;
  }
}

ul.oneline {
  display: inline;
  list-style: none;
  padding: 0;
  li {
    display: inline;
    &:after {
      content: ", ";
      margin-left: -0.1rem;
      margin-right: 0.1rem;
    }
    &:last-child:after {
      content: "";
    }
  }
}
