$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

:root {
  --primary-color: #{$base00};
  --background-color: #{$base3};
  --bold-bg: #{$base2};
  --bold-color: #{$base01};
}

.dark {
  --primary-color: #{$base0};
  --background-color: #{$base03};
  --bold-bg: #{$base02};
  --bold-color: #{$base1};
}

html,
.dark {
  background-color: var(--background-color);
  color: var(--primary-color);
  * {
    color: var(--primary-color);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--bold-color);
    border-color: var(--primary-color);
  }
  a,
  a:active,
  a:visited {
    color: var(--bold-color);
  }
}
