div.toc {
  position: fixed;
  top: 1em;
  right: 1em;
  @media screen and (max-width: $desktop) {
    display: none;
  }
}

div.content {
  padding: 2rem;
}

.post {
  padding-top: 1rem;
  .post-title {
    @include heading();
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    line-height: 3rem;
  }
  .post-date {
    @include mono();
    font-size: 1rem;
    padding-top: 1rem;
  }
}
