div.toc {
  @media screen and (max-width: $desktop) {
    display: none;
  }

  div {
    position: sticky;
    top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    h3 {
      margin-bottom: 0.5rem;
    }
    ul {
      padding-left: 1rem;
      margin-left: 0;
    }
  }
}

div.content {
  padding: 1rem;
  max-width: $tablet;
  @media screen and (max-width: $tablet) {
    padding-top: 0.5rem;
  }
}

div.footnotes {
  padding-left: 0;
  border: 1px solid $yellow;
  font-size: 0.8em;
  font-style: italic;
  background-color: var(--bold-bg);
}

.org-prelude {
  display: inline-block;
}

.posts {
  .date {
    @include mono();
    font-size: 0.7rem;
  }
}
.post {
  padding-top: 1rem;
  padding-bottom: 2rem;
  .post-title {
    @include heading();
    font-size: 3.5rem;
    font-weight: bold;
    font-style: italic;
    line-height: 3.5rem;
  }
  .post-date {
    @include mono();
    font-size: 1rem;
    padding-top: 0.5rem;
  }
  .post-header {
    @media screen and (max-width: $tablet) {
      text-align: center;
    }
  }
}
