<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        {% seo %}
        <meta content="width=device-width,initial-scale=1.0" name="viewport"/>
        {% feed_meta %}
        {% include styles.html %}
        <link href="/favicon.ico" rel="shortcut icon"/>
    </head>
    <body class="dark ">
        <a class="skip-link" href="#main-content">Skip to content</a>
        <script defer src="/js/main.js?v={{ site.time | date: '%s' }}"></script>
        <div class="pure-g" id="root">
            <div class="sidebar pure-u-1 pure-u-md-1-5">
                {% include sidebar.html %}
            </div>
            <main id="main-content" class="content pure-u-1 pure-u-md-4-5 pure-u-lg-3-5">
                {{ content }}
            </main>
            <div class="toc pure-u-1 pure-u-md-1-5">
                <div>
                {% if page.layout == "post" %}
                    {% include toc.html html=content h_min=2 %}
                {% endif %}
                </div>
            </div>
        </div>
        <footer>
            <div id="scroll-top">
                <a class="nav-link pure-button" href="#root" aria-label="Back to top"><ion-icon name="arrow-up"></ion-icon></a>
            </div>
        </footer>
        {% include scripts.html %}
    </body>
</html>
