<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
        <title>{{ page.title }}</title>
        {% seo %}
        <meta content="width=device-width,initial-scale=1.0" name="viewport"/>
        <link crossorigin="anonymous" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" rel="stylesheet">
        <link href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet"/>
        {% feed_meta %}
        <link href="/favicon.ico" rel="shortcut icon"/>
        <script src="/js/main.js"></script>
    </head>
        <body>
            <script>
                if (localStorage.getItem("theme") === "dark") {
                    document.body.className += "dark";
                }
            </script>
            <div class="pure-g" id="root">
                <div class="sidebar pure-u-1 pure-u-md-1-5">
                    {% include sidebar.html %}
                </div>
                <div class="content pure-u-1 pure-u-md-3-5">
                    {{ content }}
                </div>
                <div class="toc pure-u-1 pure-u-md-1-5">
                    {% if page.layout == "post" %}
                        {% include toc.html html=content %}
                    {% endif %}
                </div>
            </div>
            {% include scripts.html %}</body>
    </head>
</html>
