<hr/>
<h2>
    <a name="{{ page.key }}"></a>
    {{ page.name }}
    ({{ page.years }})</h2>
<p><img class="prose" src="/images/projects/{{ page.key }}.webp"/></p>
<div class="prose">
    <p>{{ content }}</p>
    <div class="also">
        <p>
            <em>See also:</em>
            <br/>
            {% assign talkEmpty = true %}
            {% for talk in site.data.talks %}
                {% if talk.categories contains page.key %}
                    {% if talkEmpty %}
                        <ul class="oneline">
                            {% assign talkEmpty = false %}
                        {% endif %}
                        <li>
                            <a href="{{ talk.url }}">{{ talk.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if talkEmpty == false %}
                </ul>
            {% endif %}
            <br/>
            {% assign postEmpty = true %}
            {% for post in site.posts %}
                {% if post.categories contains page.key %}
                    {% if postEmpty %}
                        <ul class="oneline">
                            {% assign postEmpty = false %}
                        {% endif %}
                        <li>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if postEmpty == false %}
                </ul>
            {% endif %}
        </p>
    </div>
</div>